<%- include partials/navbar %>
<div class="main-container">
  <h1>Welcome to IronFack</h1>
  <div class="info"><%- include partials/errors %></div>
  <div class="post-container">
    <% post.forEach(post => { %>
    <div class="post">
      <div class="index-post-section">
        <img class="index-post-avatar" src="<%= post.author.avatar %>">
        <div class="post-title"><a href="/post/<%= post._id %>"><%= post.title %></a></div>
      </div>
      <div class="info-container">
        <p class="main-author">Por: <a class="author-link" href="/profile/<%= post.author._id%>"><%= post.author.username%></a></p>
        <p ><%= post.date %> </p>
        <p>
        <span class="coment-lenght"><img class="coment-img" src="/images/chat.png" alt=""><%= post.comentNumber %></span>
        </p>
      </div>
      <hr>
      <div class="post-text"><%= post.text %></div>
      <hr>
      <div class="post-buttons">
        <div class="icon-hater">
          <button name="button" value="a" id="<%= post._id %>">
            <span class="button-score"><%= post.hateButtons.buttonA %></span>
            <img class="button-img" src="/images/pizza.png" alt="">
          </button>
        </div>
        <div class="icon-hater">
          <button name="button" value="b" id="<%= post._id %>">
            <span class="button-score"><%= post.hateButtons.buttonB %></span>
            <img class="button-img" src="/images/balloon.png" alt="">
          </button>
        </div>
        <div class="icon-hater">
          <button name="button" value="c" id="<%= post._id %>">
            <span class="button-score"><%= post.hateButtons.buttonC %></span>
            <img class="button-img" src="/images/baby-cry.png" alt="">
          </button>
        </div>
        <div class="icon-hater">
          <button name="button" value="d" id="<%= post._id %>">
            <span class="button-score"><%= post.hateButtons.buttonD %></span>
            <img class="button-img" src="/images/blackboard.png" alt="">
          </button>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<script src="/javascripts/axios.js"></script>
<script>
  const buttons = document.querySelectorAll('button');

    buttons.forEach(button => {
      button.addEventListener('click', (event) => {
        axios.post('/api/likes', {
          postId: `${button.id}`,
          button: `${button.value}`
        })
          .then(({ data }) => {
            const span = button.querySelector('span')
            span.innerHTML = data
          })
          .catch(error => {
            console.log(error);
          })
      })
    })
</script>