<div class="main-container">
  <%- include partials/navbar %>
  <div class="post-container">
    <% post.forEach(post => { %>
    <div class="post">
      <div><a href="/post/<%= post._id %>"><%= post.title %></a></div>
      <div><a href="/profile/<%= post.author._id%>"><%= post.author.username%></a></div>
      <div><%= post.date %></div>
      <div><%= post.text %></div>
      <div><%= post.hateButtons %></div>
      </div>
    <% }) %>
  </div>
</div>
