<%- include partials/navbar %>
<div class="main-container">
  <h1>Welcome to IronFack</h1>
  <div class="post-container">
    <% post.forEach(post => { %>
    <div class="post">
      <div>
        <img src="<%= post.author.avatar %>">
        <div class="post-title"><a href="/post/<%= post._id %>"><%= post.title %></a></div>
      </div>
      <div class="info-container">
        <p class="main-author">By: </p>
        <a class="author-link" href="/profile/<%= post.author._id%>"><%= post.author.username%></a>
        <p class="date"><%= post.date %></p>
        <hr>
      </div>
      <div class="post-text"><%= post.text %></div>
      <hr>
      <div class="post-buttons">
          <button name="button" value="a" id="<%= post._id %>"><span><%= post.hateButtons.buttonA %></span><img src="/images/pizza.png" alt=""></button>
          <button name="button" value="b" id="<%= post._id %>"><span><%= post.hateButtons.buttonB %></span><img src="/images/balloon.png" alt=""></button>
          <button name="button" value="c" id="<%= post._id %>"><span><%= post.hateButtons.buttonC %></span><img src="/images/baby-cry.png" alt=""></button>
          <button name="button" value="d" id="<%= post._id %>"><span><%= post.hateButtons.buttonD %></span><img src="/images/blackboard.png" alt=""></button>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<script src="/javascripts/axios.js"></script>
<script>
  const buttons = document.querySelectorAll('button');

    buttons.forEach(button => {
      button.addEventListener('click', (event) => {
        axios.post('/api/likes', {
          postId: `${button.id}`,
          button: `${button.value}`
        })
          .then(({ data }) => {
            const span = button.querySelector('span')
            span.innerHTML = data
          })
          .catch(error => {
            console.log(error);
          })
      })
    })
</script>